header {
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f8f9fa;
    color: #007bff;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
}

#partie {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
}

#partie:hover {
    background-color: #0056b3;
}

