.head {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    background-color: red
}

.parent {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.nomJeu {
    display: flex;
    font-size: larger;
    padding-bottom: 20vh;

}

.childMenu {
    display: flex;
}