.flexTable {
    display: flex;
    width: 100%;
    justify-content: center;
}

table {
    border-collapse: separate;
    border: 1px solid black;
    margin: 2% auto;
    background-color: #e53b04;
    border-radius: 3%;

}

:root {
    --hover-color: var(--selected-color); 
}

td:hover {
    background-color: var(--hover-color);
}


td {
    border: 7px solid black;
    background-color: #714638;
    text-align: center;
    border-radius: 50%; 
    padding: 0; 
    vertical-align: middle;
    height: 12vh;
    width: 12vh ;
}

.joueur1 {
    width: 20%;
    
}

.titrePuntos {
    display: flex;
    align-self: center;;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Puntos {
    margin-top: 0px;
    margin-bottom: 0px;
}

.invite {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 20px;
    right: 20px;
}

.texteInvite {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.scoreJoueur2 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.puntosTourJouueur {
    margin-top: 0px;
    margin-bottom: 0px;
}

.logoEtNomJoueur {
    display: flex;
    flex-direction: row;
}

.nomJoueur {
    display: flex;
    align-self: flex-start;
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.scoreJoueur1 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items:center;
    padding-left: 30%;
}

.logoJoueur {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

p {
    font-family: "Sonsie One", system-ui;
}

