.flexTable {
    display: flex;
    width: 100%;
    justify-content: center;
}


table {
    border-collapse: separate;
    border: 1px solid black;
    margin: 2% auto;
    background-color: #e53b04;
    border-radius: 3%;

}

:root {
    --hover-color: yellow; 
}

td:hover {
    background-color: var(--hover-color);
}


td {
    border: 10px solid black;
    background-color: #714638;
    text-align: center;
    border-radius: 50%; 
    padding: 0; 
    vertical-align: middle;
    height: 12vh;
    width: 10vh ;
}

.parent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: "Sonsie One", system-ui;

}

p {
    font-family: "Sonsie One", system-ui;
}

.header {
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-family: "Sonsie One", system-ui;
}