.flexTable {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border: 1px;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
    width: 100vh;
    height: 15vh;
}