.flexTable {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* #contenu {
    background-color: blue;
} */

table {
    border-collapse: separate;
    border: 1px solid black;
    margin: 2% auto;
    background-color: #e53b04;
    border-radius: 3%;

}

:root {
    --hover-color: yellow; 
}

td:hover {
    background-color: var(--hover-color);
}


td {
    border: 10px solid black;
    background-color: #714638;
    text-align: center;
    border-radius: 50%; 
    padding: 0; 
    vertical-align: middle;
    height: 12vh;
    width: 10vh ;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    font-size: 24px;
    font-family: "Sonsie One", system-ui;
}

.joueur1 {
    width: 20%;
}

.titrePuntos {
    display: flex;
    align-self: center;;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Puntos {
    margin-top: 0px;
    margin-bottom: 0px;
}

.invite {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 20px;
    right: 20px;
}

.texteInvite {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.scoreJoueur2 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.puntosTourJoueur {
    margin-top: 0px;
    margin-bottom: 0px;
}

.logoEtNomJoueur {
    display: flex;
    flex-direction: row;
}

.nomJoueur {
    display: flex;
    align-self: flex-start;
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.scoreJoueur1 {
    margin-top: 0px;
    margin-left: 30px;
    font-size: 15px;
}

.logoJoueur {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}




/* .parent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: "Sonsie One", system-ui;
} */

p {
    font-family: "Sonsie One", system-ui;
}

  


/* @media only screen and (max-width : 600px) {

    .contenu{
        display: flex;
        padding-top: 5vh;
    }

    .flexTable {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    
    table {
        border-collapse: separate;
        border: 1px solid black;
        margin: 2% auto;
        background-color: #e53b04;
        border-radius: 3%;
    
    }
    
    
    td {
        border: 10px solid black;
        background-color: #714638;
        text-align: center;
        border-radius: 50%; qw
        padding: 0; 
        vertical-align: middle;
    }
    
    .parent {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #007bff;
        color: white;
        text-align: center;
        font-size: 18px;
    }
} */