.bloc_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7.5%;
    background-color: white;
    height: 80%;
    width: 25%;
    margin-top: 5%;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.parent {
    display: flex;
    justify-content: center;
    height: 73%;
    width: 100%;
}

body {
    background-color: #f4f4f4;
}

.butte {
    display: flex;
    justify-content: center;

}

a {
    text-decoration: none;
    color: white;
}

.colorSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Couleur {
    display: flex;
}

.Select {
    display: flex;
}

.rouge {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85%;
    height: 100%;
}

.rouge:hover {
    background-color: rgba(250, 0, 0, 0.8);
}

.vert {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85%;
    height: 100%;
}

.vert:hover {
    background-color: rgba(0, 128, 0, 0.8);
}

.bleu {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85%;
    height: 100%;
}

.bleu:hover {
    background-color: rgba(0, 0, 255, 0.8);
}

.retour {
    width: 50%;
}